page-statistics {

	.def{
            float: right;
    }

    .pad-up{
        margin-top: 8px;
    }

    .fgh{
        padding:4px 0 0;
        display: inline-block;
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        vertical-align: top;
        zoom: 1;
        *display: inline;
    }

    ion-icon {
        padding:-40px 0 0 0;
        display: inline-block;
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        vertical-align: top;
        zoom: 1;
        *display: inline;
    }
    
    input{
        width: 165px;
        background-color: lightblue;
        // background: transparent;
        // border:1px solid #fff;
    }

    input[disabled]{
      color:grey;
      //border-color:transparent;
      background: transparent;
      border:1px solid #fff;
    }

    input[readonly]{
      color:grey;
      //border-color:transparent;
      background: transparent;
      border:1px solid #fff;
    }

}
