<!-- <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">Home</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content class="transparent-header" text-center>
  <div class="welcome-header">
    <div class="personal-info">
      <img src="assets/imgs/company3.png" alt="" />
      <h1>QueueIt<br /><span>One Solution</span></h1>
    </div>
  </div>

  <!-- <ion-list>
  	<ion-item-sliding #slidingItem *ngFor="let but of buts; let i = index;" >
	  	<ion-item>
	  	  <ion-avatar item-start>
	        <img src="assets/imgs/company3.png">
	      </ion-avatar>
	      <h2>{{but.name}}</h2>
	  	</ion-item>
    </ion-item-sliding>
  </ion-list> -->
  <ion-list>

    <ion-item-sliding #slidingItem *ngFor="let but of buts; let i = index;">
    <ion-item (click)="showCategory(i)" #item class="item chat-item">
      <ion-avatar item-start>
        <img src="assets/imgs/company3.png">
      </ion-avatar>
      <ion-icon item-end color="primary" name="arrow-dropright"></ion-icon> 
      <h2>{{but}}</h2>
    </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
