page-home {

	.title {
		align-text: center;
	}
	.welcome-header{
	    position: relative;
	    background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
	    width:100%;
	    padding: 10px 0;
	    margin-bottom: 5px;
	    
	    
	    .personal-info {
	      width: 100%;
	      margin-top: 10px;
	      position: relative;
	      display: inline-block;
	      text-align: center;
	    }
	    .personal-info img {
	      width: 120px;
	      height: 120px;
	      border-radius: 50%;
	      border: 3px solid rgba(0,0,0,.7);;
	      display: inline-block;
	      //float: left;
	      //margin-left: 60px;
	    }
	    .personal-info h1 {
	      display: inline-block;
	      vertical-align: top;
	      font-size: 2.5em;
	      line-height: 1em;
	      text-align: left;
	      margin-left: 25px;
	      color: rgba(0,0,0,.7);
	      font-weight: 300;
	    }
	    .personal-info h1 span {
	      font-weight: 800;
	      color: deeppink;
	    }
	}

    ion-item {
    	margin: 10px;
    }

    .master {
		background: linear-gradient(0deg,  #fcb69f 0%, transparent 100%),#ffecd2 ;
		color: white;
		font-weight: bolder;
	}

	.masters {
		background: linear-gradient(0deg, coral 0%, transparent 100%),salmon ;
		color: white;
		font-weight: bolder;
	}

	.item:hover {
		background-color: orange;
		color: white;
	}

	.chilli:hover{
		background-color: white;
		color: red;
	}
    
}

